<html>
  <link rel="stylesheet" type="text/css" href="static/base.css"/>
  <body>
        <div class="sidenav">
            <a href="/form">Request Form</a>
            <a href="/status">Printer Status</a>
            <a href="/queue">Print Queue</a>
            <a href="/members">Members</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="main">
            <h1 style="text-align: center;">Moravian College<br>3D Printing</h1>
            <p>There was an error recording your request.<br>Before submitting make sure you including one of the following:<br> - A full link to a thingiverse thing<br> - A .zip file<br> - A .stl file<br></p>
            <form action='/form'>
                <p><input type="submit" value = ' OK ' style="background-color: 1C6EA4; color: aliceblue; font-size: large;"></p>
            </form>
        </div>  
    </body>
</html>