<html style="overflow-x:hidden">
    <link rel="stylesheet" type="text/css" href="static/base.css"/>
    <body onload="setButtons(  )">
        <div class="sidenav">
            <a href="/form">Request Form</a>
            <a href="/status">Printer Status</a>
            <a href="/queue">Print Queue</a>
            <a href="/members">Members</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="main">
            <h1 style="text-align: center;">Moravian College<br>3D Printing</h1>
        </div>  
        <div class="row">
            <div class="column" style="margin-left: 12%; width: 100%;">
                <div class="column">
                    <div class="leftside">
                        <p> Xerox<br></p>
                        <p style="text-align: center;">
                            STATUS: {{ X_status }}<br>
                            {{ X_name }}<br>
                            {{ X_finish }}
                        </p>
                        <p style="display: none;" id="X_status">{{ X_status }}</p>
                        <div style="text-align: center;">
                            <button onclick="pauseXerox()" id="pauseX">Pause</button>
                            <script>
                                function pauseXerox() {
                                    var button = document.getElementById("pauseX");
                                    if(button.innerText === "Pause"){
                                        window.alert('srequesting')
                                        window.alert('suesting')
                                        xhr = new XMLHttpRequest();
                                        window.alert('senting')
                                        xhr.open(GET, 'https://https://127.0.0.1:5000/pause-printer/Xerox');
                                        window.alert('sent')
                                        xhr.send()
                                        button.innerText = "Resume";
                                    }
                                    else{
                                        window.alert('srequesting')
                                        window.alert('suesting')
                                        xhr = new XMLHttpRequest();
                                        window.alert('senting')
                                        xhr.open(GET, 'https://https://127.0.0.1:5000/resume-printer/Xerox');
                                        window.alert('sent')
                                        xhr.send()
                                        button.innerText = "Pause";
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="rightside">
                        <p> Gutenberg<br></p>
                        <p style="text-align: center;">
                            STATUS: {{ G_status }}<br>
                            {{ G_name }}<br>
                            {{ G_finish }}
                        </p>
                        <p style="display: none;" id="G_status">{{ G_status }}</p>
                        <div style="text-align: center;">
                            <button onclick="pauseGutenberg()" id="pauseG">Pause</button>
                            <script>
                                function pauseGutenberg() {
                                    var text = document.getElementById("pauseG");
                                    if(button.innerText === "Pause"){
                                        xhr = new XMLHttpRequest();
                                        xhr.open(POST, '/pause-printer/Gutenberg', true);
                                        button.innerText = "Resume";
                                    }
                                    else{
                                        xhr = new XMLHttpRequest();
                                        xhr.open(POST, '/resume-printer/Gutenberg', true);
                                        button.innerText = "Pause";
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </body>
    <script>
        function setButtons() {
            var G_status = document.getElementById("G_status");
            var X_status = document.getElementById("X_status");
            var gutenButton = document.getElementById("pauseG");
            var xeroxButton = document.getElementById("pauseX");

            if ("PRINTING" === G_status.innerText) {
                gutenButton.innerText = "Pause";
            } else if ("PAUSED" === G_status.innerText) {
                gutenButton.innerText = "Resume";
            } else {
                gutenButton.style.display = "none";
            }

            if ("PRINTING" === X_status.innerText) {
                xeroxButton.innerText = "Pause";
            } else if ("PAUSED" === X_status.innerText) {
                xeroxButton.innerText = "Resume";
            } else {
                xeroxButton.style.display = "none";
            }
        }
    </script>
</html>